In [29]:
#installing necassory libraries

import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

# **Importing Datasets**

In [2]:
#Load and display the train data
train_data = pd.read_csv("train.csv")  
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
#Load and display the test data
test_data = pd.read_csv("test.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

# **EDA on Datasets**

**1**.**Data Exploration**:
After importing and loading the training and testing data sets. The following in Data Exploration is understanding the features information such as: 
1. Number of columns and rows
2. Summary statistics of numerical values
3. Checking are Removing Duplicates
4. Checking the missing and Null values in the datasets and removing them by dropping some features and imputinguting

In [5]:
# Understanding variable data types and shape
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
# Descriptive statistical summary
train_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [7]:
# Checking Duplicates
train_data.duplicated().sum()

0

In [8]:
# Missing values
train_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [9]:
#Imputing Missing values in Age feature using median
median_age = train_data['Age'].median()

# Fill missing values in 'Age' column by using a dictionary
train_data.fillna({'Age': median_age}, inplace=True)

train_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [10]:
#Checking unique values in Embarked
train_data['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [11]:
#Retrieving the most frequent unique value
mode_embarked = train_data['Embarked'].mode()[0]
mode_embarked

'S'

In [12]:
#Imputing nan with the most frequent unique value in Embarked
train_data.fillna({'Embarked': mode_embarked}, inplace=True)

train_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [13]:
# Drop the Cabin column since number of missing values is more 77%
train_data = train_data.drop('Cabin', axis=1)
train_data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

**Data Exploration on Testing Dataset**

In [14]:
# Understanding variable data types and shape
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.1+ KB

In [15]:
# Descriptive statistical summary
test_data.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [16]:
# Checking Duplicates
test_data.duplicated().sum()

0

In [17]:
# Missing values
test_data.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [18]:
#Imputing Missing values in Age feature using median
median_age = test_data['Age'].median()

# Fill missing values in 'Age' column by using a dictionary
test_data.fillna({'Age': median_age}, inplace=True)

test_data.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [19]:
#Imputing Missing values in Fare feature using median
median_age = test_data['Fare'].median()

# Fill missing values in 'Age' column by using a dictionary
test_data.fillna({'Fare': median_age}, inplace=True)

test_data.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          327
Embarked         0
dtype: int64

In [22]:
# Drop the Cabin column since number of missing values is more 77%
test_data = test_data.drop('Cabin', axis=1)
test_data.isnull().sum()

KeyError: "['Cabin'] not found in axis"

2. **Feature Engineering**
   1. Create new features like familySize and Title for the Existing features
   2. Dropping less useful features such as Name and Ticket

1. **Feature Engineering on Training Dataset**

In [ ]:
#Creating new features
#Family size variable
train_data['FamilySize'] = train_data['SibSp'] + train_data['Parch'] + 1
train_data.head()

In [ ]:
#Extract Title from Name
#train_data['Title'] = train_data['Name'].str.extract(r',\s*([^\.]+)\.', expand=False)
train_data.head()

In [ ]:
# Dropping less useful columns 
train_data = train_data.drop(['Name', 'Ticket'], axis=1)
train_data.head()

2. **Feature Engineering on Testing Dataset**

In [23]:
#Creating new features
#Family size variable
test_data['FamilySize'] = test_data['SibSp'] + test_data['Parch'] + 1
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FamilySize
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,Q,1
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,S,2
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,Q,1
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,S,1
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,S,3

In [24]:
#Extract Title from Name
#test_data['Title'] = test_data['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FamilySize
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,Q,1
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,S,2
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,Q,1
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,S,1
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,S,3

In [25]:
# Dropping less useful columns 
test_data = test_data.drop(['Name', 'Ticket'], axis=1)
test_data.head()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize
0,892,3,male,34.5,0,0,7.8292,Q,1
1,893,3,female,47.0,1,0,7.0000,S,2
2,894,2,male,62.0,0,0,9.6875,Q,1
3,895,3,male,27.0,0,0,8.6625,S,1
4,896,3,female,22.0,1,1,12.2875,S,3

3. **Encoding Categorical Variables on Training Dataset**

In [26]:
train_data['Sex'].unique()

array(['male', 'female'], dtype=object)

In [27]:
encod_data = {
     'Sex': ['male', 'female', 'female', 'male', 'female'],
     'Embarked': ['S', 'C', 'S', 'S', 'Q']
}


df = pd.DataFrame(encod_data)

# Encoding 'Sex' with label encoding (0 and 1)
df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})

# One-hot encoding 'Pclass' and 'Embarked'
df = pd.get_dummies(df, columns=['Embarked'], prefix=['Embarked'])

# Convert boolean columns to integer type
df = df.astype(int)

# Display the resulting DataFrame
print("Data after encoding:")
print(df.head())

#Transformed Training Data

# Encode 'Sex' with label encoding (0 and 1)
train_data['Sex'] = train_data['Sex'].map({'male': 0, 'female': 1})

# One-hot encode 'Embarked'
train_data = pd.get_dummies(train_data, columns=['Embarked'], prefix=['Embarked'])

# Convert one-hot encoded columns to integer type
for col in train_data.filter(like='Embarked_').columns:
    train_data[col] = train_data[col].astype(int)

# Display the first few rows of the transformed train.csv
print("\nTransformed Train Dataset:")
train_data.head()

Data after encoding:
   Sex  Embarked_C  Embarked_Q  Embarked_S
0    0           0           0           1
1    1           1           0           0
2    1           0           0           1
3    0           0           0           1
4    1           0           1           0

Transformed Train Dataset:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,0,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,1,0,0
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,0,0,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,0,0,1
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,0,0,1

4. **Encoding Categorical Variables on Testing Dataset**

In [28]:
encod_data = {
     'Sex': ['male', 'female', 'female', 'male', 'female'],
     'Embarked': ['S', 'C', 'S', 'S', 'Q']
}


df = pd.DataFrame(encod_data)

# Encoding 'Sex' with label encoding (0 and 1)
df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})

# One-hot encoding 'Pclass' and 'Embarked'
df = pd.get_dummies(df, columns=['Embarked'], prefix=['Embarked'])

# Convert boolean columns to integer type
df = df.astype(int)

# Display the resulting DataFrame
print("Data after encoding:")
print(df.head())

#Transformed Training Data

# Encode 'Sex' with label encoding (0 and 1)
test_data['Sex'] = test_data['Sex'].map({'male': 0, 'female': 1})

# One-hot encode 'Embarked'
test_data = pd.get_dummies(test_data, columns=['Embarked'], prefix=['Embarked'])

# Convert one-hot encoded columns to integer type
for col in test_data.filter(like='Embarked_').columns:
    test_data[col] = test_data[col].astype(int)

# Display the first few rows of the transformed train.csv
print("\nTransformed Train Dataset:")
test_data.head()

Data after encoding:
   Sex  Embarked_C  Embarked_Q  Embarked_S
0    0           0           0           1
1    1           1           0           0
2    1           0           0           1
3    0           0           0           1
4    1           0           1           0

Transformed Train Dataset:

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,FamilySize,Embarked_C,Embarked_Q,Embarked_S
0,892,3,0,34.5,0,0,7.8292,1,0,1,0
1,893,3,1,47.0,1,0,7.0000,2,0,0,1
2,894,2,0,62.0,0,0,9.6875,1,0,1,0
3,895,3,0,27.0,0,0,8.6625,1,0,0,1
4,896,3,1,22.0,1,1,12.2875,3,0,0,1